*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
.container {
  width: 1720px;
  margin: 0 auto;
  padding: 25px 25px;
  position: relative;
}
header main footer {
  width: 100%;
  height: auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* <!--======================= HEADER START =======================--> */
header{
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 1;
  background:#fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0px 4px 2.1px rgb(224 215 215);
}
.nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
}
.wrapper {
  display: flex;
  align-items: center;
}
.golden {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  padding-left: 20px;
}
.nav__ul--li a {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
.nav__ul--li a:hover {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #316499;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.nav__btn {
  width: 182px;
  height: 67px;
  left: 1644px;
  top: 49px;
  background: #316499;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  border: none;
}
.nav__btn:hover {
  color: #316499;
  background-color: #ffffff;
  border: 2px solid #316499;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/*==================================HEADER END ========================= */


/*================================== MAIN START ========================*/
.hero-one-div {
  width: 643px;
  height: 498px;
  left: 106px;
  top: 316px;
  text-shadow: 0px 4px 2.1px rgb(204, 197, 197);
}
.hero-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(49, 100, 153, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px;
  margin-top: 150px;
}
.hero-one img {
  width: 950px;
  height: 623px;
}
.hero__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;

  color: #000000;
}
.hero__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #828282;
}
.hero__btn {
  margin-top: 54px;
  width: 186px;
  height: 68px;
  left: 106px;
  top: 753px;
  background: #316499;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  border: none;
}
.hero__btn:hover {
  color: #316499;
  background-color: #ffffff;
  border: 2px solid #316499;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.hero-two__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;
  color: #316499;
  text-shadow: 0px 4px 2.1px rgb(187, 180, 180);
  margin-top: 218px;
}
.orovchi {
  display: flex;
  justify-content: space-between;
}

.hero-two__div {
  width: 550px;
  height: 580px;
  background: #ffffff;
  box-shadow: 2px 2px 2px 3px rgb(235, 235, 235);
}
.ellips {
  position: relative;
  left: 175px;
  top: 53px;
}

.house1 {
  position: relative;
  left: 17px;
  top: 5px;
}
.hero-two_title {
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  color: #000000;
  padding-top: 70px;
}
.hero-two__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  padding-top: 15px;
  color: #828282;
}
.ankl {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-decoration-line: underline;
  color: #316499;
  padding-top: 15px;
  padding-left: 182px;
}
.hero-three__div {
  padding: 25px;
  width: 550px;
  height: 580px;
  background: #ffffff;
  box-shadow: 2px 2px 2px 3px rgb(235, 235, 235);
}

.hero-three__ul {
  display: flex;
  align-items: center;
  padding-top: 39px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
.hero-three__ull {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-decoration-line: underline;
  color: #316499;
}

.hero-three__ul--li {
  padding-left: 21px;
}
.hero-three-div {
  display: flex;
  justify-content: space-between;
}
.hero-three__btn {
  width: 300px;
  height: 80px;
  border: 2px solid #316499;
  border-radius: 60px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #316499;
  margin: 40px 41%;
}
.hero-three__btn:hover {
  background-color: #316499;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.hero-four__div {
  width: 700px;
  height: 1000px;
  background: #ffffff;
  box-shadow: 2px 2px 2px 3px rgb(235, 235, 235);
}
.fout__ul-lione {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  padding-bottom: 27px;
  padding-top: 27px;
}
.fout__ul-li {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #828282;
  padding-bottom: 27px;
}
.fout__ul-litwo {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-decoration-line: underline;
  color: #316499;
  padding-bottom: 27px;
}
.hero-four__ul {
  margin: 0 60px;
}
.hero-four-div {
  display: flex;
  justify-content: space-between;
}
.li__div {
  width: 550.96px;
  height: 580px;
  box-shadow: 2px 2px 2px 3px rgb(235, 235, 235);
}
.hero-five__ul {
  display: flex;
  justify-content: space-between;
}
.li__div-img {
  position: relative;
  top: 57px;
  left: 200px;
}
.li__div-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  opacity: 0.7;
  text-align: center;
  padding-top: 80px;
}
.li__div-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #828282;
  opacity: 0.7;
  padding-top: 7px;
  text-align: center;
}
.list {
  display: flex;
  justify-content: center;
  padding-top: 7px;
  margin-bottom: 36px;
}
.li__div:hover {
  background: #ebebeb;
  transition: 0.5em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}
/*=============================== MAIN END ==========================*/



/*=============================== FOOTER START ======================= */
footer{
   width: 100%;
   height: auto;
   background: #316499;
   margin-top: 120px;
}
.footer__ul{
   display: flex;
   justify-content:space-around;
   padding: 50px 0;
}
.footer__ul--li-h1{
   font-weight: 600;
font-size: 40px;
line-height: 60px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 130px;
}
.ul--ul--h3{
   font-weight: 500;
font-size: 40px;
line-height: 60px;
text-transform: uppercase;
color: #FFFFFF;
}

.footer__ul--ul{
   font-weight: 400;
font-size: 30px;
line-height: 45px;
color: #FFFFFF;
}
.footer__ul--ul li{
   padding-top: 17px;
}



/*================================= FOOTER END ======================== */